body {
    font-family: DengXian;
}

th, td {
    text-align: left;
    vertical-align: middle;
}

.metascore {
    background-color: white;
    color: black;
    font-size: 2em;
    width: 1.5em;
    text-align:center;
}

.hubpage header[role=banner] {
    position: relative;
    z-index: 2;
}

.hubpage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    z-index: 1;
}

.hubpage .hub .win-hub-surface {
    height: 100%;
}

.hubpage .hub .hero {
    -ms-high-contrast-adjust: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXY5g8dcZ/AAY/AsAlWFQ+AAAAAElFTkSuQmCC);
    background-size: cover;
    margin-left: -80px;
    margin-right: 80px;
    padding: 0;
    width: 780px;
}

    .hubpage .hub .hero:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm) {
        margin-left: 80px;
        margin-right: -80px;
    }

    .hubpage .hub .hero .win-hub-section-header {
        display: none;
    }

.hubpage .hub .section1 {
    width: 388px;
}

    .hubpage .hub .section1 .win-hub-section-content {
        overflow-y: hidden;
    }

    .hubpage .hub .section1 .subtext {
        margin-bottom: 7px;
        margin-top: 9px;
    }

.hubpage .hub .section2 {
    width: 400px;

}

    .hubpage .hub .section2 .win-hub-section-content {
        overflow-y: hidden;
    }

    .hubpage .hub .section2 .item-title {
        margin-top: 4px;
        margin-bottom: 10px;
    }

    .hubpage .hub .section2 .article-header {
        margin-bottom: 15px;
    }

    /* Template for the items in the ListViews in this sample */    
    .hubpage .hub .section2 .win-listview 
    {
        height: 480px; 
    }
    
       
    .hubpage .hub .section2 .smallListIconTextItem
    {
        width: 100%;
        height: 104px;
        padding: 2px;
        overflow: hidden;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .hubpage .hub .section2 .smallListIconTextItem img.smallListIconTextItem-Image 
    {
        width: 70px;
        height: 100px;
        margin: 2px;
        margin-right:20px;
    }

    .hubpage .hub .section2 .smallListIconTextItem .smallListIconTextItem-Detail
    {
        margin: 2px;
    }

    .hubpage .hub .section2 .listLayoutTopHeaderTemplateRoot, .gridLayoutLeftHeaderTemplateRoot {
        font-size: larger;
        margin-left: 0px;
    }


.hubpage .hub .section4 {
    width: 420px;
    max-height: 100px;
}

.hubpage .hub .section3 {
    width: 420px;
    max-height: 100px;
    text-align: justify;
    text-justify: distribute; 
}
